* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  align-items: center;
  background-color: rgb(238, 242, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#root {
  align-items: center;
  background-color: rgb(238, 242, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

header {
  align-items: center;
  background-color: rgb(107 246 124);
  box-shadow: 10px 2px 2px rgb(8, 202, 8);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
}

img {
  padding-right: 10px;
  width: 50px;
}

section {
  align-items: center;
  background-color: rgb(107 246 124);
  box-shadow: 2px 2px 2px rgb(2, 185, 42);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 20px;
  width: 90%;
}

input {
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px rgb(2, 185, 42);
  font-size: larger;
  font-weight: 700;
  margin-bottom: 10px;
  height: 50px;
  width: 90%;
  padding: 15px;
  outline-color: rgb(2, 185, 42);
}

button {
  border: none;
  box-shadow: 2px 2px 2px rgb(2, 185, 42);
  border-radius: 10px;
  height: 80px;
  width: 90%;
}